# Social Vulnerability Index (SoVI) 

This notebook script is designed to process and analyze census data for Pinellas County, Florida, focusing on calculating Social Vulnerability Index (SoVI) scores at the block group level using various demographic, socioeconomic, and housing variables.

# Load packages

An instance of the Census API is initialized with an API key to fetch data.

In [1]:
from census import Census
from us import states
import os
import pandas as pd
import geopandas as gpd
import numpy as np
import contextily as cx
import proj as prj

In [2]:
c = Census("d8d13ca1233561802c9b33bb44a9e837cea54f22")

# Defining Variables and Fetching Census Data:

A set of census variables (fields) related to population, age, income, education, employment, housing, and race is defined.
The script fetches data from the 2021 ACS 5-year estimates for all block groups in Pinellas County, Florida.

In [ ]:
fields = {
    'B01001_001E', # 'Total_population',
    'B01001_026E', # 'Females',    
    'B01001_003E', # 'male Population_under_five',
    'B01001_027E', # 'female Population_under_five',
    'B01001_018E', # 'male Population_over_60_61',
    'B01001_019E', # 'male Population_over_62_64',
    'B01001_020E', # 'male Population_over_65_66',
    'B01001_021E', # 'male Population_over_67_69',
    'B01001_022E', # 'male Population_over_70_74',
    'B01001_023E', # 'male Population_over_75_79',
    'B01001_024E', # 'male Population_over_80_84',
    'B01001_025E', # 'male Population_over_85',
    'B01001_042E', # 'female Population_over_60_61',
    'B01001_043E', # 'female Population_over_62_64',
    'B01001_044E', # 'female Population_over_65_66',
    'B01001_045E', # 'female Population_over_67_69',
    'B01001_046E', # 'female Population_over_70_74',
    'B01001_047E', # 'female Population_over_75_79',
    'B01001_048E', # 'female Population_over_80_84',
    'B01001_049E', # 'female Population_over_85',  
    'B11001_001E', # 'Number_of_households',
    'B11001_006E', # 'Female_headed_households_no_spouse_present',    
    'B19001_013E', # 'Households_earning_75K_100k',
    'B19001_014E', # 'Households_earning_100k_125k',
    'B19001_015E', # 'Households_earning_125K_150k',
    'B19001_016E', # 'Households_earning_150k_200k',
    'B19001_017E', # 'Households_earning_more_than_200k',
    'B17010_002E', # 'People_living_in_poverty',
    'B25003_001E', # 'Total Housing Units'
    'B25003_003E', # 'Renter_occupied_housing_units',
    'B25024_001E', # 'Total Units in Structure'
    'B25024_010E', # 'Mobile_homes',    
    'B15003_002E', # 'No_high_school_diploma',
    'B15003_003E', # 'No_high_school_diploma',
    'B15003_004E', # 'No_high_school_diploma',
    'B15003_005E', # 'No_high_school_diploma',
    'B15003_006E', # 'No_high_school_diploma',
    'B15003_007E', # 'No_high_school_diploma',
    'B15003_008E', # 'No_high_school_diploma',
    'B15003_009E', # 'No_high_school_diploma',
    'B15003_010E', # 'No_high_school_diploma',
    'B15003_011E', # 'No_high_school_diploma',
    'B15003_012E', # 'No_high_school_diploma',   
    'B15003_013E', # 'No_high_school_diploma',    
    'B15003_014E', # 'No_high_school_diploma',    
    'B15003_015E', # 'No_high_school_diploma',
    'B15003_016E', # 'No_high_school_diploma',    
    'B23025_005E', # 'Unemployed_civilian_labor_force',        
    'B23025_002E', # 'Labor_force_participation',    
    'B01002_002E', # 'Median_age',
    'B19301_001E', # 'Per_capita_income',
    'B25077_001E', # 'Median_value_of_housing',
    'B25064_001E', # 'Median_rent',
    'B19055_001E', # 'Total Social Security recipents'
    'B19055_002E', # 'Per_capita_Social_Security_recipients',    
    'B02001_002E', # 'White',    
    'B02001_003E', # 'Black',  
    'B02001_004E', # 'American indian',  
    'B02001_005E', # 'Asian',  
    'B02001_006E', # 'Hawaiian',     
    'B03002_012E', # 'Hispanic',
    'C24030_001E', # 'Total Employment'
    'C24030_003E', # 'Male Primary_extractive_industries_employment',
    'C24030_028E', # 'Female Primary_extractive_industries_employment',
    'C24020_036E', # 'Male Transportation_employment',
    'C24020_072E', # 'Female Transportation_employment',
    'C24020_019E', # 'Male Service_occupations_employment',
    'C24020_001E', # Total occupations
    'C24020_055E', # 'Female Service_occupations_employment',
    'C24030_029E', # 'Female_labor_employment',
 
}

# Fetch data for Florida, county code 103, for all block groups in the 2021 ACS 5-year estimates
data = c.acs5.state_county_blockgroup(
    fields=list(fields),
    state_fips=states.FL.fips,
    county_fips='103',
    blockgroup=Census.ALL,
    year=2021
)

In [4]:
#Create a dataframe
data_df = pd.DataFrame(data)

In [5]:
data_df.head()

,B25077_001E,C24030_029E,B19301_001E,B01001_001E,B01001_046E,B01001_020E,B02001_002E,B15003_004E,B25003_003E,B15003_014E,...,C24030_028E,B15003_002E,B01001_044E,C24020_055E,B19055_002E,B01001_022E,B11001_006E,B02001_005E,B23025_005E,B01001_003E
0,432500.0,275.0,68350.0,1419.0,50.0,8.0,1231.0,0.0,132.0,0.0,...,27.0,0.0,18.0,11.0,348.0,53.0,8.0,0.0,9.0,9.0
1,368200.0,580.0,19612.0,2364.0,21.0,17.0,1689.0,0.0,88.0,0.0,...,0.0,0.0,17.0,0.0,182.0,42.0,13.0,81.0,69.0,0.0
2,524200.0,232.0,64295.0,1377.0,81.0,16.0,1129.0,0.0,93.0,9.0,...,9.0,0.0,13.0,0.0,348.0,26.0,44.0,0.0,43.0,10.0
3,558500.0,467.0,70325.0,1927.0,87.0,9.0,1890.0,0.0,11.0,0.0,...,0.0,0.0,55.0,0.0,255.0,81.0,93.0,9.0,25.0,29.0
4,677600.0,62.0,111217.0,447.0,59.0,0.0,447.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,94.0,28.0,0.0,0.0,0.0,0.0

In [9]:
#export csv
#data_df.to_csv('blockgrouptest.csv', index=False)

# Data Processing and Calculations

The script performs various calculations on the census data, such as calculating percentages for female population, children, elderly, unemployed, households earning above certain thresholds, poverty rate, rental rate, and other demographic characteristics.

In [6]:
data_df['avghouse'] = (data_df['B11001_001E'] / data_df['B01001_001E']) * 100
data_df['female'] = (data_df['B01001_026E'] / data_df['B01001_001E']) * 100
data_df['kid'] = ((data_df['B01001_003E'] + data_df['B01001_027E']) / data_df['B01001_001E']) * 100
data_df['eldery'] = ((data_df['B01001_018E'] + data_df['B01001_019E']+ data_df['B01001_020E']+data_df['B01001_021E']+data_df['B01001_022E']+data_df['B01001_023E']+data_df['B01001_024E']+data_df['B01001_025E']+data_df['B01001_042E']+data_df['B01001_043E']+data_df['B01001_044E']+data_df['B01001_045E']+data_df['B01001_046E']+data_df['B01001_047E']+data_df['B01001_048E']+data_df['B01001_049E']) / data_df['B01001_001E']) * 100
data_df['unemployed'] = (data_df['B23025_005E'] / data_df['B23025_002E']) * 100
data_df['house75k'] = ((data_df['B19001_013E'] + data_df['B19001_014E']+ data_df['B19001_015E']+data_df['B19001_016E']+data_df['B19001_017E']) / data_df['B11001_001E']) * 100
data_df['poverty'] = (data_df['B17010_002E'] / data_df['B01001_001E']) * 100
data_df['rental'] = (data_df['B25003_003E'] / data_df['B25003_001E']) * 100
data_df['mobile'] = (data_df['B25024_010E'] / data_df['B25024_001E']) * 100
data_df['femalehous'] = (data_df['B11001_006E'] / data_df['B11001_001E']) * 100
data_df['nodiploma'] = ((data_df['B15003_002E'] + data_df['B15003_003E']+ data_df['B15003_004E']+data_df['B15003_005E']+data_df['B15003_006E'] + data_df['B15003_007E']+ data_df['B15003_008E']+data_df['B15003_009E']+data_df['B15003_010E']+data_df['B15003_011E']+data_df['B15003_012E']+data_df['B15003_013E']+data_df['B15003_014E']+data_df['B15003_015E']+data_df['B15003_016E']) / data_df['B01001_001E']) * 100
data_df['labor'] = (data_df['B23025_002E'] / data_df['B01001_001E']) * 100
data_df['femalelab'] = (data_df['C24030_029E'] / data_df['C24030_001E']) * 100
data_df['income'] = (data_df['B19301_001E'])
data_df['medhome'] = (data_df['B25077_001E'])
data_df['medage'] = (data_df['B01002_002E'])
data_df['medrent'] = (data_df['B25064_001E'])
data_df['SSrecip'] = (data_df['B19055_002E'] / data_df['B19055_001E']) * 100
data_df['white'] = (data_df['B02001_002E'] / data_df['B01001_001E']) * 100
data_df['black'] = (data_df['B02001_003E'] / data_df['B01001_001E']) * 100
data_df['amerind'] = (data_df['B02001_004E'] / data_df['B01001_001E']) * 100
data_df['asian'] = (data_df['B02001_005E'] / data_df['B01001_001E']) * 100
data_df['hawaiian'] = (data_df['B02001_006E'] / data_df['B01001_001E']) * 100
data_df['hispanic'] = (data_df['B03002_012E'] / data_df['B01001_001E']) * 100
data_df['primaryemp'] = ((data_df['C24030_003E'] + data_df['C24030_028E']) / data_df['C24030_001E']) * 100
data_df['transemp'] =  ((data_df['C24020_036E'] + data_df['C24020_072E']) / data_df['C24020_001E']) * 100
data_df['serviceemp'] =  ((data_df['C24020_019E'] + data_df['C24020_055E']) / data_df['C24020_001E']) * 100

In [7]:
print(data_df.head())

   B25077_001E  C24030_029E  B19301_001E  B01001_001E  B01001_046E  \
0     432500.0        275.0      68350.0       1419.0         50.0
1     368200.0        580.0      19612.0       2364.0         21.0
2     524200.0        232.0      64295.0       1377.0         81.0
3     558500.0        467.0      70325.0       1927.0         87.0
4     677600.0         62.0     111217.0        447.0         59.0

   B01001_020E  B02001_002E  B15003_004E  B25003_003E  B15003_014E  ...  \
0          8.0       1231.0          0.0        132.0          0.0  ...
1         17.0       1689.0          0.0         88.0          0.0  ...
2         16.0       1129.0          0.0         93.0          9.0  ...
3          9.0       1890.0          0.0         11.0          0.0  ...
4          0.0        447.0          0.0          0.0          0.0  ...

     SSrecip       white      black   amerind     asian  hawaiian   hispanic  \
0  51.708767   86.751233   8.174771  0.000000  0.000000       0.0   4.298802
1  60.869565   71.446701  17.428088  0.549915  3.426396       0.0  11.125212
2  52.727273   81.989833  14.233842  0.000000  0.000000       0.0   4.938272
3  35.172414   98.079917   0.000000  0.000000  0.467047       0.0   2.646601
4  54.335260  100.000000   0.000000  0.000000  0.000000       0.0   1.789709

   primaryemp  transemp  serviceemp
0    4.066265  6.012024    5.611222
1    0.000000  0.000000    6.967213
2    1.399689  0.000000    4.192872
3    0.000000  0.000000    3.458647
4    0.000000  0.000000    6.730769

[5 rows x 102 columns]

In [12]:
#data_df.to_csv('blockgrouptest2.csv', index=False)

# Population data from two different years (2015 and 2021) is fetched, and the percentage change in population is calculated.

In [8]:
year1 = 2015
year2 = 2021

# Function to fetch population data
def fetch_population_data(year):
    data = c.acs5.get(
        ('B01001_001E',),  # Total population estimate
        {'for': 'block group:*', 'in': f'state:{states.FL.fips} county:103'},
        year=year
    )
    return pd.DataFrame.from_records(data)

# Fetch data for both years
df1 = fetch_population_data(year1)
df1['year'] = year1

df2 = fetch_population_data(year2)
df2['year'] = year2

# Assuming 'tract' needs to be replaced with the correct geographic identifier, often 'block group'
# Ensure your data includes a unique identifier for each row that can be used for merging
df = pd.merge(
    df1,
    df2,
    on=['tract', 'block group'],  
    suffixes=('_2015', '_2021')
)

# Calculate the population change
df['pop_change'] = ((df['B01001_001E_2021'] - df['B01001_001E_2015']) / df['B01001_001E_2015']) * 100

# The processed data is then merged into a single DataFrame

In [9]:
merged_df = data_df.merge(df[['tract', 'block group', 'pop_change']], on=['tract', 'block group'], how='left')
merged_df.head()

,B15003_007E,B15003_014E,B01002_002E,B19055_001E,C24020_019E,B02001_005E,B15003_004E,B15003_013E,B11001_006E,B15003_012E,...,white,black,amerind,asian,hawaiian,hispanic,primaryemp,transemp,serviceemp,pop_change
0,0.0,0.0,57.2,673.0,17.0,0.0,0.0,28.0,8.0,0.0,...,86.751233,8.174771,0.000000,0.000000,0.0,4.298802,4.066265,6.012024,5.611222,-22.331691
1,0.0,0.0,20.6,299.0,17.0,81.0,0.0,0.0,13.0,0.0,...,71.446701,17.428088,0.549915,3.426396,0.0,11.125212,0.000000,0.000000,6.967213,38.569754
2,0.0,9.0,56.7,660.0,20.0,0.0,0.0,0.0,44.0,0.0,...,81.989833,14.233842,0.000000,0.000000,0.0,4.938272,1.399689,0.000000,4.192872,-12.237094
3,0.0,0.0,47.9,725.0,23.0,9.0,0.0,18.0,93.0,9.0,...,98.079917,0.000000,0.000000,0.467047,0.0,2.646601,0.000000,0.000000,3.458647,353.411765
4,0.0,0.0,60.4,173.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.000000,0.000000,0.000000,0.000000,0.0,1.789709,0.000000,0.000000,6.730769,-66.516854

In [8]:
#Saving csv file
output_path = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_sc.csv'
data_df.to_csv(output_path)

# Calculating housing units per square mile

The processed data is then merged into a single DataFrame, which includes calculated fields such as housing units per square mile.

In [11]:
# Load the CSV file
data = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup.csv'
csv = pd.read_csv(data)
other = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_sc.csv'
merge = pd.read_csv(other)

In [12]:
merge['tract'] = merge['tract'].astype(int)
merge['block'] = merge['block'].astype(int)
csv['tract'] = csv['tract'].astype(int)
csv['block'] = csv['block'].astype(int)

In [13]:
merge_df = merge.merge(csv[['tract', 'block', 'Area_sqml']], on=['tract', 'block'], how='left')
merge_df.head()

,Unnamed: 0,B25077_001E,C24030_029E,B19301_001E,B01001_001E,B01001_046E,B01001_020E,B02001_002E,B15003_004E,B25003_003E,...,white,black,amerind,asian,hawaiian,hispanic,primaryemp,transemp,serviceemp,Area_sqml
0,0,432500,275,68350,1419,50,8,1231,0,132,...,86.751233,8.174771,0.000000,0.000000,0.0,4.298802,4.066265,6.012024,5.611222,0.532480
1,1,368200,580,19612,2364,21,17,1689,0,88,...,71.446701,17.428088,0.549915,3.426396,0.0,11.125212,0.000000,0.000000,6.967213,1.043386
2,2,524200,232,64295,1377,81,16,1129,0,93,...,81.989833,14.233842,0.000000,0.000000,0.0,4.938272,1.399689,0.000000,4.192872,0.919634
3,3,558500,467,70325,1927,87,9,1890,0,11,...,98.079917,0.000000,0.000000,0.467047,0.0,2.646601,0.000000,0.000000,3.458647,0.664680
4,4,677600,62,111217,447,59,0,447,0,0,...,100.000000,0.000000,0.000000,0.000000,0.0,1.789709,0.000000,0.000000,6.730769,3.685618

In [14]:
merge_df ['housesqml'] = (merge_df ['B25003_001E'] / merge_df ['Area_sqml']) * 100

In [15]:
merge_df.head()

,Unnamed: 0,B25077_001E,C24030_029E,B19301_001E,B01001_001E,B01001_046E,B01001_020E,B02001_002E,B15003_004E,B25003_003E,...,black,amerind,asian,hawaiian,hispanic,primaryemp,transemp,serviceemp,Area_sqml,housesqml
0,0,432500,275,68350,1419,50,8,1231,0,132,...,8.174771,0.000000,0.000000,0.0,4.298802,4.066265,6.012024,5.611222,0.532480,126389.691713
1,1,368200,580,19612,2364,21,17,1689,0,88,...,17.428088,0.549915,3.426396,0.0,11.125212,0.000000,0.000000,6.967213,1.043386,28656.705930
2,2,524200,232,64295,1377,81,16,1129,0,93,...,14.233842,0.000000,0.000000,0.0,4.938272,1.399689,0.000000,4.192872,0.919634,71767.700283
3,3,558500,467,70325,1927,87,9,1890,0,11,...,0.000000,0.000000,0.467047,0.0,2.646601,0.000000,0.000000,3.458647,0.664680,109074.982264
4,4,677600,62,111217,447,59,0,447,0,0,...,0.000000,0.000000,0.000000,0.0,1.789709,0.000000,0.000000,6.730769,3.685618,4693.921492

In [16]:
#merge_df.to_csv('All variables_Pinellas_Blockgroup.csv', index=False)

# Creating a Final dataframe with selected columns

In [17]:
columns = ['tract', 'block', 'avghouse','female','kid','eldery','unemployed','house75k','poverty','rental','mobile','femalehous','nodiploma','labor','femalelab','medage','income','medhome','medrent','SSrecip','white','black','amerind','asian','hawaiian','hispanic','primaryemp','transemp','serviceemp','housesqml','Area_sqml']

# Create a new DataFrame with only the selected columns
dataframe = merge_df[columns]

In [18]:
dataframe.head()

,tract,block,avghouse,female,kid,eldery,unemployed,house75k,poverty,rental,...,black,amerind,asian,hawaiian,hispanic,primaryemp,transemp,serviceemp,housesqml,Area_sqml
0,20105,1,47.427766,48.273432,0.634249,47.709655,1.298701,77.414562,0.000000,19.613670,...,8.174771,0.000000,0.000000,0.0,4.298802,4.066265,6.012024,5.611222,126389.691713,0.532480
1,20105,2,12.648054,57.021997,0.423012,12.648054,6.609195,59.531773,0.000000,29.431438,...,17.428088,0.549915,3.426396,0.0,11.125212,0.000000,0.000000,6.967213,28656.705930,1.043386
2,20105,3,47.930283,53.449528,4.139434,47.421932,6.268222,60.000000,0.653595,14.090909,...,14.233842,0.000000,0.000000,0.0,4.938272,1.399689,0.000000,4.192872,71767.700283,0.919634
3,20106,1,37.623249,51.738454,6.538661,34.924754,2.771619,82.758621,0.518941,1.517241,...,0.000000,0.000000,0.467047,0.0,2.646601,0.000000,0.000000,3.458647,109074.982264,0.664680
4,20106,2,38.702461,44.519016,0.000000,55.033557,0.000000,78.034682,2.237136,0.000000,...,0.000000,0.000000,0.000000,0.0,1.789709,0.000000,0.000000,6.730769,4693.921492,3.685618

# Data Cleaning

Missing values in the DataFrame are replaced with NaNs, and the DataFrame is saved to a CSV file for further processing.
A shapefile containing block group geometries is loaded, and the DataFrame is merged with this GeoDataFrame based on matching geographic identifiers (tract and block group).

In [18]:
#replacing missing values with NaN
dataframe.replace(-666666666.0, np.nan, inplace=True)

C:\Users\ibnes\AppData\Local\Temp\ipykernel_22360\2213090837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.replace(-666666666.0, np.nan, inplace=True)

In [19]:
#Data Cleaning
clean_path= 'C:/Users/ZS/Downsample/House_level/Pinellas_unfiltered_variables.csv'
dataframe.to_csv(clean_path)

In [23]:
# Load the shapefile
file = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup.shp'
geodf = gpd.read_file(file)

# Load the CSV file
variable = 'C:/Users/ZS/Downsample/House_level/Pinellas_filtered_variables.csv'
finaldf = pd.read_csv(variable)

# Make sure that the columns you're merging on have the same data type
finaldf['tract'] = finaldf['tract'].astype(int)
finaldf['block'] = finaldf['block'].astype(int)
geodf['tract'] = geodf['tract'].astype(int)
geodf['block'] = geodf['block'].astype(int)

# Merge the DataFrame and GeoDataFrame based on 'tract' and 'Block' fields
merged_geodf = geodf.merge(finaldf, on=['tract', 'block'])

# Save the merged GeoDataFrame to a new shapefile
output = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_missing.shp'
merged_geodf.to_file(output)

print("Merge complete. Merged shapefile saved to:", output)

Merge complete. Merged shapefile saved to: C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_missing.shp

C:\Users\ZS\AppData\Local\Temp\ipykernel_19868\2597092553.py:20: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_geodf.to_file(output)
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Normalized/laundered field name: 'Area_sqml_x' to 'Area_sqml_'
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Normalized/laundered field name: 'Area_sqml_y' to 'Area_sqm_1'
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 733 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 735 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(

# Adjusting missing values using average of neighboring polygons

A function is implemented to fill in missing values in the dataset by averaging values from neighboring polygons. The GeoDataFrame with filled missing values is saved as a new shapefile.

In [24]:
# Load the shapefile
gdf = gpd.read_file('C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_missing.shp')

# Identify columns with missing values (represented as 0)
missing_cols = [col for col in gdf.columns if (gdf[col] == 0).any()]

def fill_missing_values(gdf, missing_cols, buffer_distance=0.1, max_iterations=5):
    # Convert columns to float
    for col in missing_cols:
        gdf[col] = gdf[col].astype(float)
    
    iteration = 0
    while iteration < max_iterations:
        gdf['geometry'] = gdf['geometry'].buffer(0)  # Clean geometry
        
        for idx, row in gdf.iterrows():
            # Expand the current block to find neighbors
            search_area = row.geometry.buffer(buffer_distance)
            neighbors = gdf[gdf.geometry.intersects(search_area)].index

            for col in missing_cols:
                if gdf.at[idx, col] == 0:  # Treat 0 as missing value
                    # Calculate the mean of the neighbors' values for the missing column
                    neighbor_values = gdf.loc[neighbors, col]
                    neighbor_values = neighbor_values[neighbor_values != 0]  # Exclude other missing values
                    if not neighbor_values.empty:
                        mean_value = neighbor_values.mean()
                        gdf.at[idx, col] = mean_value
        
        # Check if there are still any 0 values
        remaining_zeros = gdf[missing_cols].eq(0).any(axis=1)
        if not remaining_zeros.any():
            break
        
        iteration += 1
    
    return gdf

# Apply the function to fill missing values
gdf_filled = fill_missing_values(gdf, missing_cols)

# Save the updated shapefile
output_path = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_all_variables.shp'
gdf_filled.to_file(output_path)

print(f"Updated shapefile saved to {output_path}")

Updated shapefile saved to C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_all_variables.shp

C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 733 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 735 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(

# SoVI calculation

The script proceeds to calculate the Social Vulnerability Index (SoVI) using Principal Component Analysis (PCA) and Factor Analysis.
PCA is performed to reduce dimensionality, and varimax rotation is applied to extract meaningful factors. The script retains factors based on the Kaiser criterion (eigenvalues > 1) and calculates SoVI scores for each block group. The SoVI scores are added to the DataFrame and saved to a CSV file.

In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from factor_analyzer import FactorAnalyzer

In [26]:
# Load the data from a CSV file
# Select only the columns required for the analysis and the identifier column 'tract'
file_csv = pd.read_csv(r'C:\Users\ZS\Downsample\House_level\Pinellas_blockgroup_all_variables.csv') 
finaldata = file_csv.iloc[:, [0] + [1] + list(range(2, 30))]

In [27]:
print(finaldata)

     tract  block   avghouse     female        kid     eldery  unemployed  \
0    27212      1  54.382930  61.476355   0.922722  26.931949    5.022026
1    27204      3  50.185874  47.862454   1.208178  47.769517    9.111182
2    25205      4  46.839080  45.402299   0.862069  38.697318    3.165922
3    27108      2  60.797101  64.782609   6.159420  62.608696    7.637232
4    25420      1  54.754601  49.923313   0.766871  40.414110   10.224439
..     ...    ...        ...        ...        ...        ...         ...
729  20106      3  46.300068  47.657841   9.504413  52.206382    5.516014
730  20106      3  46.300068  47.657841   9.504413  52.206382    5.516014
731  20106      3  46.300068  47.657841   9.504413  52.206382    5.516014
732  20106      3  46.300068  47.657841   9.504413  52.206382    5.516014
733  20600      3  34.701160  50.847458  10.437110  20.695807    6.491499

      house75k   poverty     rental  ...      white      black   amerind  \
0    32.661718  2.385118  59.066808  ...  97.693195   8.897469  8.224907
1    28.333333  1.579926  17.222222  ...  76.022305  15.148699  8.224907
2    55.623722  2.394272   2.249489  ...  92.624521   3.256705  1.307685
3    33.611442  2.391304  67.222884  ...  83.550725   9.637681  3.745687
4    27.030812  2.951952  67.787115  ...  97.009202   7.691047  5.090909
..         ...       ...        ...  ...        ...        ...       ...
729  76.979472  1.378039  15.102639  ...  98.438561   0.689655  0.394089
730  76.979472  1.378039  15.102639  ...  98.438561   0.689655  0.394089
731  76.979472  0.518941  15.102639  ...  98.438561   0.689655  0.394089
732  76.979472  0.518941  15.102639  ...  98.438561   0.689655  0.394089
733  38.560411  3.925067  26.478149  ...  22.658341  77.341659  0.821951

        asian  hawaiian   hispanic  primaryemp   transemp  serviceemp  \
0    0.692042  0.601323   4.728950    2.782931   3.300330    9.278351
1    5.204461  0.601323   2.137546    4.781705   2.768200   58.495822
2    1.062699  1.412429   3.544061    1.841449   2.794411    1.397206
3    0.217391  1.357680   5.072464    9.043928  26.705653    8.474576
4    1.840491  3.206684   1.763804    2.222222   6.635071   23.696682
..        ...       ...        ...         ...        ...         ...
729  0.467047  0.788177   4.073320    1.544152   8.894879    5.094708
730  0.467047  0.788177   4.073320    1.544152   8.894879    5.094708
731  0.467047  0.788177   4.073320    1.544152   8.894879    3.458647
732  0.467047  0.788177   4.073320    1.544152   8.894879    3.458647
733  7.842214  1.927143  10.961886    8.100055   3.110048   17.224880

        housesqml
0    2.402048e+05
1    1.145080e+05
2    1.282231e+05
3    1.154156e+05
4    2.705787e+05
..            ...
729  1.657706e+05
730  1.447234e+08
731  1.657706e+05
732  1.447234e+08
733  1.249250e+05

[734 rows x 30 columns]

# Merging SoVI Scores with Geospatial Data:

The calculated SoVI scores are merged with the original GeoDataFrame, and the final dataset is saved as a shapefile for further geospatial analysis.

In [28]:
# Define the range of columns to be used
variables = finaldata.columns[2:30]

# Extract the relevant columns from the dataframe
data = finaldata[variables]

# Handle missing values by imputing (e.g., with the mean)
imputer = SimpleImputer(strategy='mean')
data_imputed = imputer.fit_transform(data)

# Perform PCA to reduce dimensionality
pca = PCA()
components = pca.fit_transform(data_imputed)

# Applying Varimax rotation
fa = FactorAnalyzer(rotation='varimax', n_factors=26, method='principal')
fa.fit(components)

# Kaiser criterion to decide the number of components to retain (Eigenvalues greater than 1)
ev, _ = fa.get_eigenvalues()
n_factors = sum(ev > 1)
print(f'Number of factors retained: {n_factors}')

# Recalculate PCA and Varimax with the correct number of factors
fa = FactorAnalyzer(rotation='varimax', n_factors=n_factors, method='principal')
fa.fit(components)
scores = fa.transform(components)

# Summing the scores to get the SoVI score for each observation
sovi_scores = np.sum(scores, axis=1)

# Adding the SoVI scores back to the dataframe
finaldata['SoVI_Score'] = sovi_scores

# Output the results
print(finaldata[['tract', 'block', 'SoVI_Score']])

Number of factors retained: 11
     tract  block  SoVI_Score
0    27212      1    0.933784
1    27204      3    2.404673
2    25205      4   -2.524789
3    27108      2    1.657750
4    25420      1    0.729121
..     ...    ...         ...
729  20106      3    2.869493
730  20106      3   13.282887
731  20106      3    2.496002
732  20106      3   12.909395
733  20600      3    2.516016

[734 rows x 3 columns]

In [29]:
# Save the SoVI score to a csv
output_sovi = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_SoVI_score.csv'
finaldata.to_csv(output_sovi)

In [ ]:
# Output and Final Steps

The final merged shapefile containing SoVI scores is saved and ready for visualization or further analysis in GIS software.

In [32]:
# Load the shapefile
shapefile = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup.shp'
shapedf = gpd.read_file(shapefile)

# Load the CSV file
variable = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_SoVI_score.csv'
variabledf = pd.read_csv(variable)

# Make sure that the columns you're merging on have the same data type
variabledf['tract'] = variabledf['tract'].astype(int)
variabledf['block'] = variabledf['block'].astype(int)
shapedf['tract'] = shapedf['tract'].astype(int)
shapedf['block'] = shapedf['block'].astype(int)

# Merge the DataFrame and GeoDataFrame based on 'tract' and 'Block' fields
merged_shapedf = shapedf.merge(variabledf, on=['tract', 'block'])

# Save the merged GeoDataFrame to a new shapefile
output_sovi_path = 'C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_SoVI_2021.shp'
merged_shapedf.to_file(output_sovi_path)

print("Merge complete. Merged shapefile saved to:", output_sovi_path)

Merge complete. Merged shapefile saved to: C:/Users/ZS/Downsample/House_level/Pinellas_blockgroup_SoVI_2021.shp

C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 730 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 732 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 734 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(
C:\Users\ZS\anaconda3\Lib\site-packages\pyogrio\raw.py:709: RuntimeWarning: Value 144723447.800000012 of field housesqml of feature 736 not successfully written. Possibly due to too larger number with respect to field width
  ogr_write(